.sq-cont{
    display: flex;
    padding-top: 10px;
    width: 100%;

}

.sq1{
    width: 50%;
    height: 300px;
    background-color: purple;

}
.sq2{
    width: 50%;
    height: 300px;
    background-color:red;

}

/* Responsive styling */
@media (max-width: 768px) {
    .sq-cont {
        width: 100%;
      flex-direction: column;
      align-items: center;
    }

    .sq1, .sq2{
        width: 100%;
    }
  
  }